@import "typography";
@import "variables";
@import "mixins";
@import "objects";
@import "tiles";
@import "responsive";

* {
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: $font-montserrat;
	font-weight: 500;
}

a {
	color: $primary-color;
}

.primary-overlay,
.secondary-overlay {
	position:relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.3;
	}
}
.overflow-hidden {
	display:block;
	overflow:hidden;
}
.primary-overlay:before {
	background-color: $primary-color;
}
.secondary-overlay:before {
	background-color: $secondary-color;;
}