@mixin general-transition(){
	transition: all .3s ease-out;
}

@mixin link-transition(){
	@include general-transition();
}

@mixin font-size($desired, $context: 14){
	font-size: #{$desired/$context}em;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin width($expected, $context){
	width: #{$expected/$context*100%};
}