.object {
	&.heading-style-one {
		font-weight: 300;
		@include font-size(26,14);
		color: black;
		line-height: 31px;
		margin: 0;
		padding: 0;
	}
	&.vertical-align {
		display: table;
		width: 100%;
		height: 100%;
		.wrapper {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			height: 100%;
		}
	}
	&.dropdown {
		display: inline-block;
		background: #FFFFFF;
		box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.15);
		border-radius: 5px;
		padding: 20px 20px;
		height: 75px;
		label {
			display: block;
			font-size: 0.71428571428571em; // 10 / 14
			color: black;
			text-transform: uppercase;
		}
		.dropup {
			.btn {
				.caret {
					border-bottom: 0px transparent;
				}
			}
		}
		&.pink {
			.bootstrap-select {
				.btn {
					color: $secondary-color;
				}
				&.btn-group {
					.dropdown-menu {
						li {
							a {
								&:hover {
									span.text {
										color: $secondary-color;
									}
								}
							}
							&.selected,
							&.active {
							 	a {
							 		&:hover {
							 			span.text {
							 				color: #fff;
							 			}
							 		}
									background-color: $secondary-color;
							 	}		
							}
						}
					}
				}
			}
		}
		.bootstrap-select {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100%;
			&.btn-group {
				.dropdown-menu.open {
					border-radius: 5px;
					margin-top: 10px;
					border: none;
					box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.15);
					&:before {
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						width: 0; 
						height: 0; 
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 5px solid white;
					}
				}
				.dropdown-menu {
					.bs-searchbox {
						padding: 4px 9px 9px;
						.form-control {
							padding:6px 10px;
							font-family: $font-montserrat;
							font-weight: 300;
						}
					}
					li {
						a {
							color: #000;
							font-family: $font-montserrat;
							font-weight: 300;
							&:focus {
								outline: none !important;
							}
							&:hover {
								span.text {
									color: $primary-color;
								}
							}
						}
						&.selected,
						&.active {
						 	a {
						 		span.text {
							 		color: #fff;
							 	}
								background-color: $primary-color;
						 	}		
						}
					}
				}
			}
			.btn {
				position: absolute;
				bottom: 0;
				left: 0;
				height: 100%;
				background-color: transparent;
				color: $primary-color;
				border: none;
				font-family: $font-montserrat;
				font-size: 16px;
				font-weight: 300;
				text-transform: none;
				padding-left: 19px;
				padding-right: 35px;
				&:focus {
					outline: none !important;
				}
				&.dropdown-toggle {
					box-shadow:none;
				}
				.filter-option {
					margin-top: 16px;
				}
				.caret {
					color: black;
					right: 20px;
					border-top: 5px dashed;
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
				}
			}
		}
	}
	&.button-style-one {
		background: black;
		border-radius: 51px;
		font-size: 1.14285714285714em; // 16 / 14
		color: #FFFFFF;
		text-transform: uppercase;
		height: 55px;
		vertical-align: middle;
		display: inline-block;
		position: relative;
		&.has-right-arrow {
			a,
			button {
				&:after {
					display: inline-block;
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 0 5px 5px;
					border-color: transparent transparent transparent white;
					margin-left: 5px;
					transform:rotate(360deg);
					@include general-transition();
				}
				&:hover {
					&:after {
						margin-right: -20px;
					}
				}
			}
		}
		a,
		button {
			background-color: transparent;
			border:none;
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			width: 100%;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			margin: 0;
			outline: none;
			padding: 0 20px;
			line-height: normal;
		}
	}
	&.button-style-two {
		@extend .object.button-style-one;
		font-size: 0.928571428571429em; // 13 / 14
		min-width: 200px;
		height: 40px;
		span + .fa {
			margin-left: 5px;
		}
		@include general-transition();
		a,button {
			padding: 0 30px;
		}
		&.secondary {
			background-color: $secondary-color;
			&:hover {
				background-color: black;
			}
		}
		&.primary {
			background-color: $primary-color;
			&:hover {
				background-color: black;
			}
		}
		&.black-primary {
			background-color: black;
			&:hover {
				background-color: $primary-color;
			}
		}
		&.black-secondary {
			background-color: black;
			&:hover {
				background-color: $secondary-color;
			}
		}
	}
	&.inner-container {
		background: #FFFFFF;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.30);
		border-radius: 5px;
		padding: 60px 40px;
	}
	&.input {
		background: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 5px;
		position:relative;
		height: 75px;
		&.has-error {
			border-color: #a94442;
			label {
				color: #a94442;
			}
		}
		label {
			position: absolute;
			top:16px;
			left:19px;
			z-index: 0;
			text-transform: uppercase;
			@include font-size(10,14);
			color: black;
			font-weight: 500;
			z-index: 20;
		}
		.input-wrapper {
			position:absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			input {
				outline: none;
				border:none;
				@include font-size(16,16);
				color: #A8A8A8;
				font-weight: 300;
				position:absolute;
				background-color:transparent;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				padding:36px 19px 20px;
				&[type="password"] {

				}
				@include placeholder {
					color: #D8D8D8;
				}
			}
		}
	}
	&.intro {
		display: block;
		text-align: center;
		.fa {
			display: inline-block;
			@include font-size(42,14);
			color: black;
			& + .object.heading-style-one {
				margin-top: 6px;
			}
		}
	}
	&.link-style {
		display: inline-block;
		position: relative;
		@include font-size(13,14);
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		&:after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: black;
			@include link-transition();
		}
		&:hover {
			&:after {
				width: 30%;
			}
		}
	}
	&.help {
	    color: #a94442;
	    @include font-size(10, 14);
	}
	&.gallery {
		display: block;
		height: 600px;
		border-radius: 5px;
		overflow: hidden;
	}
	&.map {
		display: block;
		height: 400px;
		border-radius: 5px;
		width: 100%;
		overflow: hidden;
		#map {
			width: 100%;
			height: 100%;
		}
	}
}