.tile {
	display: block;
	z-index: 0;
	.container {
		position: relative;
	    margin-right: auto;
	    margin-left: auto;
	    padding-left: 0;
	    padding-right: 0;
	}
	&.header {
		padding: 29px 0;
		background-color: #fff;
		box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.10);
		position: relative;
		z-index: 10;
		.logo {
			display: inline-block;
			vertical-align: top;
			width: 180px;
			position: absolute;
			top: 0;
			left: 0;
			img {
				display: block;
			}
		}
		.nav {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			text-align: right;
			ul {
				display: block;
				list-style: none;
				margin: 0;
				padding: 0;
				font-size: 0px;
				li {
					font-size: 14px;
					display: inline-block;
					color: black;
					& + li {
						margin-left: 15px;
					}
					&.outline {
						a {
							// background-color: black;
							padding: 10px 25px;
							border-radius: 50px;
							border: 2px solid #000;
							color: #000;
							@include general-transition();
							&:hover {
								background-color: black;
								color: #fff;
							}
						}
					}
					&.or {
						font-weight: 300;
					}
					&.fill {
						a {
							background-color: $primary-color;
							padding: 12px 25px;
							border-radius: 50px;
							color: #fff;
							@include general-transition();
							&:hover {
								background-color: black;
								color: #fff;
							}
						}
						&.red {
							a:not(:hover) {
								background-color:#DB2020;
							}
						}
					}
				}
			}
			a {
				// text-transform: uppercase;
				@include font-size(14,14); // 13 / 14
				text-decoration: none;
				color: black;
				@include link-transition();
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	&.full-height-container {
		height: calc(100vh - 160px);
		background-size: cover;
		background-position: center center;
		background-image: url('/img/wedding-couple-engaged.jpg'); 
        // background-image: -webkit-image-set(url('/img/wedding-couple-engaged.jpg') 1x,
		// url('/img/wedding-couple-engaged@2x.jpg') 2x);
		// padding: 80px 0;
		
		.container {
			height: 100%;
			vertical-align: middle;
		}
		.object.vertical-align {
			max-width: 940px;
			margin: 0 auto;
		}
		.heading {
			text-align: center;
			display: block;
			font-size: 2.57142857142857em; // 36 / 14
			color: #FFFFFF;
			text-shadow: 0px 1px 0px rgba(0,0,0,0.30);
			margin: 0;
		}
		.margin-top {
			margin-top: 200px;
		}
		.form {
			display: block;
			> ul {
				list-style: none;
				margin: 0;
				padding: 0;
				> li {
					display: inline-block;
					width: 31.914893617021%; // 300 / 940
					vertical-align: top;
					.object.dropdown {
						display: block;
					}
					& + li {
						margin-left: 2.127659574468%; // 20 / 940
					}
				}
			}
		}
		.search {
			display: block;
			text-align: center;
			margin-top: 45px;
			.object.button-style-one {
				min-width: 300px;
			}
		}
		.register {
			display: block;
			text-align: center;
			margin-top: 15px;
			a {
				text-decoration: none;
				text-transform: uppercase;
				@include font-size(13);
				color: #FFFFFF;
				text-shadow: 0px 1px 0px rgba(0,0,0,0.20);
				position:relative;
				@include link-transition();
				&:before {
					position: absolute;
					bottom: -4px;
					left: 0;
					content: "";
					width: 100%;
					height: 2px;
					background-color: #fff;
					@include link-transition();
					box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.20);
				}
				&:hover {
					&:before {
						// width: 30%;
					}
				}
			}
		}
	}
	&.footer {
		background: #FFFFFF;
		box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.10);
		padding: 28px 0 27px;
		z-index: 10;
		.block {
			display: inline-block;
			vertical-align: middle;
			width: 70%;
			&.content {
				font-size: 0.92857142857143em; // 13 / 14
				color: #898989;
				font-weight: 300;
				.copyright,
				.company {
					display: inline-block;
				}
				.company {
					margin-left: 20px;
				}
			}
			&.social {
				width: 30%;
				ul {
					display: block;
					list-style: none;
					margin: 0;
					padding: 0;
					text-align: right;
					li {
						display: inline-block;
						vertical-align: middle;
						@include general-transition();
						& + li {
							margin-left: 10px;
						}
						img {
							width: 25px;
							height: 25px;
							display: block;
						}
						&:hover {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
	&.auth {
		.object.inner-container {
			display: block;
			max-width: 600px;
			margin: 0 auto;
		}
		.object.intro + form {
			margin-top: 39px;
		}
		.object.help {
			margin-top: -10px;
		}
		.object.button-style-two {
			height: 55px;
		}
		.object.checkbox {
			@include font-size(12,16);
		}
		form {
			display: block;
			ul {
				display: block;
				margin: 0;
				padding: 0;
				font-size: 0px;
				li {
					font-size: 16px;
					display: block;
					& + li {
						margin-top: 20px;
					}
					&.half {
						width: 48%;
						display: inline-block;
						& + li.half {
							margin-left: 4%;
						}
					}
					&.remember,
					&.terms {
						text-align: center;
						margin-top: 30px;
					}
					&.submit {
						margin-top: 40px;
						text-align: center;
					}
					&.forgotten {
						text-align: center;
						a {
							display: inline-block;
							margin: 0 auto;
							@include font-size(13,14);
							color: #A8A8A8;
							line-height: 24px;
							font-weight: 300;
							text-decoration: none;
							@include general-transition();
							&:hover {
								color: black;
							}
						}
					}
					&.create {
						text-align: center;
					}
				}
			}
		}
	}
	&.supplier-header {
		background-size: cover;
		height: 600px;
		padding-bottom: 90px;
		position:relative;
		overflow: hidden;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
			opacity: 0.6;
			z-index: 0;
		}
		.container {
			position: relative;
			height: 100%;
			z-index: 10;
		}
		.details {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		.avatar {
			display: inline-block;
			vertical-align: middle;
			width: 150px;
			height: 150px;
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.40);
			border-radius: 150px;
			overflow: hidden;
			position:relative;
			position: absolute;
			top: -6px;
			left: 0;
			.image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
			}
			& + .content {
				padding-left: 180px;
			}
		}
		.content {
			display: block;
			vertical-align: middle;
			position: relative;
		}
		.name {
			display: block;
			@include font-size(36,14);
			vertical-align: top;
			color: #FFFFFF;
			text-shadow: 0px 1px 0px rgba(0,0,0,0.40);
			max-width: 600px;
			line-height: 41px;
		}
		.joined {
			display: block;
			vertical-align: top;
			font-weight: 300;
			@include font-size(16,14);
			color: #FFFFFF;
			text-shadow: 0px 1px 0px rgba(0,0,0,0.40);
			margin-top: 5px;
		}
		.actions {
			display: block;
			margin-top: 26px;
			.object.button-style-two {
				display: inline-block;
				& + .object.button-style-two {
					margin-left: 20px;
				}
				span + .fa {
					margin-left: 5px;
				}
				&.supplier:hover {
					background-color: $primary-color;
				}
				&.favourite:hover {
					background-color: $secondary-color;
				}
			}
			ul {
				display: block;
				font-size: 0px;
				padding: 0;
				margin: 0;
				li {
					list-style: none;
					display: inline-block;
					font-size: 14px;
					& + li {
						margin-left: 20px;
					}
				}
			}
		}
		.prices {
			position: absolute;
			bottom: -15px;
			right: 0;
			text-align: right;
			.price-label {
				display: block;
				font-weight: 600;
				@include font-size(16,14);
				color: #FFFFFF;
				text-shadow: 0px 1px 0px rgba(0,0,0,0.40);
				text-transform: uppercase;
				line-height: normal;
			}
			.price {
				display: block;
				font-weight: 300;
				@include font-size(66,14);
				color: #FFFFFF;
				text-shadow: 0px 1px 0px rgba(0,0,0,0.40);
				line-height: normal;
				margin-top: -9px;
				margin-right: -3px;
			}
		}
	}
	&.profile-section {
		background-color: #FAFAFA;
		padding: 90px 0;
		.container {
			position: relative;
		    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
		    background-color: white;
		    padding: 35px;
		    border-radius: 5px;
		    overflow: hidden;
		}
		& + .profile-section {
			margin-top: -140px;
		}
		.heading {
			display: block;
			font-weight: 300;
			@include font-size(26,14);
			color: #000000;
			line-height: 27px;
			margin: 0 0 0 0;
			position: relative;
			&:before {
				content: "";
			    width: 40px;
			    height: 2px;
			    background-color: black;
			    display: inline-block;
			    vertical-align: top;
			    margin-right: 30px;
			    margin-top: 14px;
			    position: absolute;
			    bottom: -15px;
			}
		}
		&.gallery {
			padding: 0;
			margin: 0;
			width: 103%;
			margin-top: 5px;
			margin-left: -1.5%;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-image: linear-gradient(-180deg, #FFFFFF 2%, #FAFAFA 100%);
			}
		}
		.object.map {
			margin-top: 50px;
		}
		.content {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			padding-right: 350px;
			min-height: 370px;
			.heading {
				margin-bottom: 42px;
			}
			p {
				font-weight: 300;
				@include font-size(16,14);
				color: #494949;
				line-height: 27px;
				display: block;
				margin: 0;
				& + p {
					margin-top: 20px;
				}
			}
		}
		.sidebar {
			position: absolute;
			top: 0;
			right: 0;
			width: 300px;
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute; 
				top: 0;
				left: 0;
				width: 1px;
				background-image: linear-gradient(-180deg, #eaeaea 2%, #ffffff 100%);
			}
			.contact {
				// background: #FAFAFA;
				// border-left: 1px solid #eaeaea;
				// border-radius: 5px;
				position: relative;
				display: block;
				padding: 35px 30px;
				height: 100%;
				ul {
					padding: 0;
					margin: 0;
					font-size: 0;
					list-style: none;
					li {
						font-size: 16px;
						position:relative;
						& + li {
							margin-top: 10px;
						}
					}
				}
				.fa {
					display: inline-block;
					color: $primary-color;
					@include font-size(18, 16);
					text-align: center;
					width: 16px;
					position: absolute;
					top: 5px;
					left: 0;

				}
				span {
					display: block;
					width: 100%;
					padding-left: 36px;
					font-weight: 300;
					@include font-size(16,16);
					color: #494949;
				}
				a {
					color: #494949;
					text-decoration: none;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
}